[submodule "pack/default/start/matchup"]
	path = pack/default/start/matchup
	url = https://github.com/andymass/vim-matchup.git
[submodule "pack/default/start/lexima"]
	path = pack/default/start/lexima
	url = https://github.com/cohama/lexima.vim
[submodule "pack/default/start/startuptime"]
	path = pack/default/start/startuptime
	url = https://github.com/dstein64/vim-startuptime
[submodule "pack/default/start/tabular"]
	path = pack/default/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "pack/default/start/goyo"]
	path = pack/default/start/goyo
	url = https://github.com/junegunn/goyo.vim
[submodule "pack/default/start/gv"]
	path = pack/default/start/gv
	url = https://github.com/junegunn/gv.vim
[submodule "pack/default/start/suda"]
	path = pack/default/start/suda
	url = https://github.com/lambdalisue/vim-suda
[submodule "pack/default/start/sandwich"]
	path = pack/default/start/sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule "pack/default/start/traces"]
	path = pack/default/start/traces
	url = https://github.com/markonm/traces.vim
[submodule "pack/default/start/bbye"]
	path = pack/default/start/bbye
	url = https://github.com/moll/vim-bbye
[submodule "pack/default/start/better-whitespace"]
	path = pack/default/start/better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "pack/default/start/abolish"]
	path = pack/default/start/abolish
	url = https://github.com/tpope/vim-abolish
[submodule "pack/default/start/fugitive"]
	path = pack/default/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/default/start/rhubarb"]
	path = pack/default/start/rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "pack/default/start/sleuth"]
	path = pack/default/start/sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "pack/default/start/help_ja"]
	path = pack/default/start/help_ja
	url = https://github.com/vim-jp/vimdoc-ja
[submodule "pack/default/opt/commentary"]
	path = pack/default/opt/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/default/start/molder"]
	path = pack/default/start/molder
	url = https://github.com/mattn/vim-molder.git
[submodule "pack/default/opt/lsp"]
	path = pack/default/opt/lsp
	url = https://github.com/yegappan/lsp.git
[submodule "pack/default/start/vsnip"]
	path = pack/default/start/vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "pack/default/start/vsnip_integ"]
	path = pack/default/start/vsnip_integ
	url = https://github.com/hrsh7th/vim-vsnip-integ.git
[submodule "pack/default/start/dim"]
	path = pack/default/start/dim
	url = https://github.com/jeffkreeftmeijer/vim-dim.git
